In [17]:
import math

import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv("Kevin_Hillstrom_MineThatData_E-MailAnalytics_DataMiningChallenge_2008.03.20.csv")
df.shape

(64000, 12)

In [3]:
df.head(3)

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0

In [4]:
df = df[df.segment != "Womens E-Mail"].reset_index(drop=True)
df.shape

(42613, 12)

In [6]:
df["treatment"] = (df.segment == "Mens E-Mail").astype(int)
df.treatment.head(3)

0    0
1    1
2    1
Name: treatment, dtype: int64

In [9]:
df.groupby("treatment").conversion.describe().T

treatment             0             1
count      21306.000000  21307.000000
mean           0.005726      0.012531
std            0.075456      0.111241
min            0.000000      0.000000
25%            0.000000      0.000000
50%            0.000000      0.000000
75%            0.000000      0.000000
max            1.000000      1.000000

In [15]:
mens_mails = df[df.treatment == 1]
no_mails = df[df.treatment == 0]

In [16]:
y0_ = no_mails.conversion.mean()
y1_ = mens_mails.conversion.mean()
y0 = (no_mails.conversion - y0_).apply(lambda x: x*x).sum()
y1 = (mens_mails.conversion - y1_).apply(lambda x: x*x).sum()

v = (y0 + y1) / (len(no_mails)+len(mens_mails)-2)
se = math.sqrt(v/len(no_mails) + v/len(mens_mails))
t = (y1_ - y0_) / se
print(f"y0: {y0}, y0_{y0_}")
print(f"y1: {y1}, y1_{y1_}")
print(f"v: {v}, se: {se}, t: {t}")

y0: 121.30141744109642, y0_0.005726086548390125
y1: 263.65419815084255, y1_0.01253109306800582
v: 0.00903418402740933, se: 0.0009208807767346808, t: 7.3896715965179895

In [18]:
stats.ttest_ind(no_mails.conversion, mens_mails.conversion, equal_var=False)

Ttest_indResult(statistic=-7.38973572140406, pvalue=1.501815785154377e-13)