In [11]:
import pandas as pd

In [5]:
df = pd.read_csv("data.csv", index_col="i")

i: i-th user  
y: user's earning  
y0: user's earning (mail)  
y1: user's earning (not mail)  
z: mail flag

In [6]:
df

      y   y0   y1  z
i
1   300  300  400  0
2   600  500  600  1
3   600  500  600  1
4   300  300  400  0
5   300  300  400  0
6   600  500  600  1
7   600  500  600  1
8   300  300  400  0
9   600  500  600  1
10  300  300  400  0

In [8]:
def predict(y0: float, y1: float, z: float) -> float:
    return y0 * (1 - z) + y1 * z

for row in df.itertuples():
    y = predict(row.y0, row.y1, row.z)
    print(y)

300
600
600
300
300
600
600
300
600
300

In [12]:
def average_treatment_effect(y1: pd.Series, y0: pd.Series) -> float:
    tau = y1.mean() - y0.mean()
    return tau

average_treatment_effect(df.y1, df.y0)

100.0